@{
    ViewData["Title"] = "Hoş Geldiniz";
}

<div class="text-center">
    <h1 class="display-4">URL Kısaltma </h1>
    <p class="lead">URL'lerinizi kısaltmak için lütfen giriş yapın veya kayıt olun.</p>
    
    <div class="mt-4">
        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary btn-lg m-2">Giriş Yap</a>
        <a asp-controller="Auth" asp-action="Register" class="btn btn-success btn-lg m-2">Kayıt Ol</a>
    </div>
</div> 